/*搜索栏配置*/
.header .img-responsive {
    text-align: center;
    background: #ccc;
    border-radius: 5px;
    border: none;
    height: 34px;
    vertical-align: middle;
    clear: both;
    padding: 0px;
    width: 42px;
    color: #000;
}
.fix_nav{max-width:768px;margin:0 auto;height: 44px;position: relative;background:#000000;}

/*焦点切换图配置*/
#slide .bd{overflow:hidden; position:relative;}
#slide .bd ul{width: 3840px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translateX(-768px);}
#slide .bd li{display: table-cell; vertical-align: top; width: 768px;}

/*商品详细信息*/
.ssjg-ul1{clear: both; padding:5px 0;}
.ssjg-ul1 li{ float:left; width:50%; border:1px solid #E5E5E5; background:#fff; margin-bottom:5px;margin-top: 0;margin-left: 0;margin-right: auto;}
.ssjg-ul1 li:nth-child(2n){ float:right;}
.ssjg-ul1 li .ssjg-tu{ height:50%; padding:5px 0; text-align:center;}
.ssjg-tu img{ display:inline-block; height:100%;width: 50%;}
.ssjg-ul1 li h3{ padding:0 5px; font-weight:normal;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ssjg-ul1 li h3 a{ font-size:12px; color:#7F7F7F;margin-left: 5px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.ssjg-ul1 li .ssjg-dl1{ padding:0 5px;}
.ssjg-dl1 dt{ float:left;width: 100%;margin-bottom: 5px;}
.ssjg-dl1 dt p{ font-size:12px; color:#A0A0A0;}
.ssjg-p1{
    float:left;
    color:#DB3751;
    margin-left:5px;
    width: 30%;
}
.ssjg-p2{
    float:right;
    color:#707070; margin-right:5px;
}
.ssjg-dl1 dd{ float:right;}
.ssjg-dl1 dd img{ display:inline-block; width:25px; margin-top:5px;}

/* 本例子css -------------------------------------- */

.sy-info1{ width:100%; background:#fFF; margin-top:5px; border-bottom:1px solid #E6E6E6; border-top:1px solid #E6E6E6;}
.sy-info1 .sy-ul1{ height:30px; border-bottom:1px solid #e6e6e6;}
.sy-ul1 li{ float:left; width:25%; text-align:center; height:30px; line-height:30px;}
.sy-ul1 li a{ display:inline-block; font-size:13px; color:#525252;}
.sy-ul1 .current a{ border-bottom:1px solid #E74E5D;color:#E74E5D;}


.pop-schwrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    visibility: hidden;
    background: #fff;
    -webkit-transition: transform 0.15s ease;
    transition: transform 0.15s ease;
    -webkit-transform: translate(0, 1.44rem);
    transform: translate(0, 1.44rem);
}

.fix_nav .btn { position: relative; z-index: 11; display: block; margin: 0 1.15rem; padding: 0 1.25rem; color: #525252; font-size: .45rem; height: 1.44rem; line-height: 1.44rem; }
.fix_nav .btn { width: 32px; height: 44px; line-height: 44px;  margin-top: -1.5rem; margin-left: 1.1rem; }
.fix_nav .btn-back { padding: 0 1.25rem; margin: 0 0.15rem; color: #fafafa; }
.fix_nav .btn-back:before {
    font-family: "iconfont" !important;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    content: "\e610";
    font-size: 1.6rem;
}

.fix_nav .btn-back ~  { margin: 0; }
.pop-schwrap .mui-bar { position: static; }
.pop-schwrap .sch-cont { margin-left: 1.4rem; font-size: 1.42rem; color: #666; }
.pop-schwrap .sch-cont .section { padding: 1.45rem 0 1.5rem; }
.pop-schwrap .sch-cont .title { font-size: 1.5rem; }
.pop-schwrap .sch-cont .title i { margin-right: 1.1rem; font-size: 1.5rem; color: #0c0c0c;; }
.pop-schwrap .sch-cont .tags {
    overflow: hidden;
}

.pop-schwrap .sch-cont .tag {
    float: left;
    margin: 1.35rem 1.2rem 0;
    padding: 0 1.2rem;
    border-radius: 1.16rem;
    background-color: #f4f4f4;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    cursor: pointer;
}
.pop-schwrap .sch-cont .tag.actice { color: #ff395c; }
.pop-schwrap .sch-clear { padding-bottom: 1.3rem; text-align: center; font-size: 1.45rem; }
.pop-schwrap .sch-clear a { color: inherit; font-size: 1.5rem;}
.pop-schwrap .sch-clear i { font-size: 1.48rem; color: #ff5f5f; }

.pop-schwrap.on {
    z-index: 999;
    visibility: visible;
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
}

.left-return {
    padding-right: 0;
    left: 50px;
    right: 55px;
}

.left-return .form-control {
    background: #fff url(../images/search.jpg) no-repeat 5px center;
    background-size: 25px;
    padding-left: 30px;
    margin-top: 5px;
}

.ui-scrollview { width: 100%; height: 100%; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; flex-direction: column; }

.ui-scrollview > .scroll-wrap { display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; overflow: hidden; position: relative; }

.ui-border-b {
    border-bottom: 1px solid #dcdcdc;
    border-top: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-border-b {
        border: 0;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
        background-position: left bottom;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #dcdcdc));
    }
}